[submodule "plugins/stonesense"]
	path = plugins/stonesense
	url = ../../DFHack/stonesense.git
[submodule "plugins/isoworld"]
	path = plugins/isoworld
	url = ../../DFHack/isoworld.git
[submodule "plugins/df2mc"]
	path = plugins/df2mc
	url = ../../DFHack/DF2MC.git
[submodule "library/xml"]
	path = library/xml
	url = ../../quietust/df-structures-23a.git
[submodule "depends/clsocket"]
	path = depends/clsocket
	url = ../../DFHack/clsocket.git
